 .bgcolor_residential{
            background-color: #F6F6F6;
        }
        
 .bgcolor_blue{
            background-color: #2D89E6;
        }
      
        .font_white{
            color:#FFFFFF;
        }
        
        .font_Segoe{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
 .font_residential{
            color:#707070;
        }