.disable_flex{
            display: flex;
            
        }
        
        .bordar_radius{
                border: 1px solid #C3C3C3;
                border-radius: 34px;
        }
      
       
     
        
       
    
       
      
       
        .diraction_rtl{
            direction: rtl;
            
        }
        .disable_flex{
            display: flex;
        }