.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
  position:fixed;
  background-color: #fefefe;
  margin: auto;
  border-radius: 30px;
  padding: 3px;
  border: 1px solid #888;
  width: 1311px;
  position: relative;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: left;
  font-size: 26px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  position: absolute; 
}
.Xclose{
   background-color: black;
  left: -20px;
  top: -20px;
  border-radius: 100%;
  padding-bottom: 5px;
  padding-top: -5px;
  padding-left:  10px;
  padding-right:  10px;
}
.close:hover,
.close:focus {
  color:white;
  text-decoration: none;
  cursor: pointer;
}
.modal_body{
  margin-left: 180px;
  margin-right: 162px;
  margin-top: 97px;
  margin-bottom: 97px;
  height: 448px;
  width: 973px;
}
.modal_input{
  border-radius: 10px;
  color:#2D89E6;
  width: 180px;
  height: 24px;
}
.modal_option{
  color:#2D89E6;
}
.model_button{
  text-align: center;
  height: 55px;
  width: 195px;
  margin-left: 36px;
  color:white;
  bottom: 0;
  border: 0px;
  font-size: 22px;
}