.Person_div{
            padding-left: 17px; height: 100px; width: 1026px; padding-right: 31px; padding-top: 30px; ;
            overflow:hidden;
            /* position:fixed */
        }
        .Person_div1{
            padding-top: 30px; padding-bottom: 39px; margin-right: 13px;
        }
        .Person_button{
            border: 0px solid #FF4A4A; font-weight: bold; background-color: #FF4A4A;height: 43px; width: 38px;border-radius: 100%; font-size: 30px;
        }
        .Person_b{
            width: 12px;
        }
        .Person_b1{
            font-size: 14px; color: #2D89E6;
        }
        .Person_Bio{
            width: 58%;font-size: 14px;
        }