.margin_left_80px{
            margin-left: 10%;
            margin-right: 10%;
        }
        .margin_left_5p{
            margin-left: 2%;
            margin-right: 2%;
        }
        .padding_right{
            padding-right:30px; 
        }
.padding_left_right_50px{
            padding-left: 50px;
            padding-right: 50px;
        }
.container{
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 44px;
        }
  .hight_76px{
            height: 76px;
        }
        .text_center{
            text-align: center;
        }
        .position_center{
            position: absolute;
            left: 0;
            top: 23px;
            width: 100%;
            text-align: center;
            font-size: 18px;
        }