    input.text{
        width: 70%;
        height: 66px;
        padding-left: 30px;
        font-size: 18px;
        margin-bottom: 10px;
    }

    select.text{
        width: 77%;
        height: 66px;
        padding-left: 30px;
        font-size: 18px;
        margin-bottom: 10px;
    }
    textarea{
        width: 75%;
        height: 270px;

        font-size: 18px;
        margin-bottom: 10px;
    }
    input.index{
        width: 55px;
        height: 26px;
        margin-bottom: 10px;
    }
    input.check{
        margin-left:10%;
    }
    button.save{
        width: 100%;
        bottom: 0px;
        height: 79px;
        background-color: #2D89E6;
        border-radius: 0px 0px 34px 30px;
    }
    nav{
        display: inline-block;
        height: auto;     
        width: 100%;
        margin-top: 44px;
        border-radius: 0px 22px 23px 0px;
        padding-left: 1%;
        list-style-type: none;

    }
    ul{
        list-style-type: none;
        border-radius: 22px 0px 0px 23px;
        height: auto; 
        margin-left: 80%;
        text-align: center;    
        margin-top: 44px;
    }
    nav li {
      display: inline-block;
      padding-right: 5px;
      padding-bottom: 10px;
      text-decoration: none;
  }
  ul li{
    padding-bottom: 15px;
    padding-top: 15px;
}
select.sort{
    width: 50px;
    height: 21px;
    border-radius: 5px;
}
select.big{
    width: 80px;
    height: 21px;
    border-radius: 5px;
}
input.search{
    border-radius: 5px;
    height: 21px;
    width: 140px;
    border:1px solid #C3C3C3;
}
body{
    position:fixed;
    overflow:hidden;
    margin: 0px;
}
input.bordar_radius{
    border: 1px solid #C3C3C3;
    border-radius: 13px;
}
select.bordar_radius{
    border: 1px solid #C3C3C3;
    border-radius: 13px;
}
textarea.bordar_radius{
    border: 1px solid #C3C3C3;
    border-radius: 13px;
}