   .width_50p{
            width: 50%;
        }
        .width_25p{
            width: 25%;
        }
        .width_10p{
            width: 10%;
        }
        .width_75p{
            width: 75%;
        }
        .width_100p{
            width: 100%;
        }